.vscode
sqlcl/
**/node_modules/
**/dist/
example/compose-stack/transform.mjs
example/compose-stack/transform.mjs
example/compose-stack/dataset/*.sql
example/**/package-lock.json
docs/.vitepress/cache
docs/api
reports