#ogma {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-panel {
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  overflow: auto;
  padding-left: 10px;
  transform: translateX(-300px);
}
.left-panel > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.left-panel > ul > li {
  padding: 10px;
}
.left-panel > ul > li > span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

/** slide in/out animation for panel */
.left-panel.slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}
.left-panel.slide-out {
  animation: slide-out 0.5s ease-in-out forwards;
}
@keyframes slide-in {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}

.loader {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  font-size: 3em;
  font: Roboto;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 10px;
  cursor: wait;
  display: none;
}
.loader.active {
  display: flex;
}
